.searchBox{
    position:absolute;
    top:2.5rem;
    right:-5.5rem;
    width:350px;
    background:var(--secondary-color);
    border:1px solid var(--tertiary-color);
    border-radius:10px;
    box-shadow:1px 1px 3px var(--tertiary-color),-1px -1px 3px var(--tertiary-color);
    display:flex;
    flex-direction:column;
    height:320px;
    padding:1rem;
    z-index:2;
    overflow-y:auto;
}

.searchBox .searchBox__heading{
    color:var(--primary-text-color);
}

.searchBox .searchBox__empty{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:90%;
    color:var(--tertiary-color-shade-1);
    font-weight:700;
    font-size:0.8rem;
}

.searchBox .searchBox__results{
    display:flex;
    flex-direction:column;
}

.searchBox__results .searchBox__result{
    cursor:pointer;
    display:flex;
    margin-bottom:1rem;
    border:none;
    background:transparent;
    text-decoration:none;
}

.searchBox__results .searchBox__result:hover{
    background:var(--primary-color);
}

.searchBox__results .avatar{
    height:45px;
    width:45px;
    border-radius:50%;
}

.searchBox__results .avatar__img{
    height:100%;
    width:100%;
    border-radius:50%;
}

.searchBox__results .result__content{
    display:flex;
    flex-direction:column;
    margin-left:1rem;
}

.searchBox__results .username{
    color:var(--primary-text-color);
}

.searchBox__results .fullname{
    color:var(--tertiary-color-shade-1);
    font-size:0.85rem;
}

.spinner__container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:320px;
}