@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding:0;
    margin:0;
}

:root{
    --primary-color:#FAFAFA;
    --secondary-color:#FFFFFF;
    --tertiary-color:#DBDBDB;
    --tertiary-color-shade-1:#8E8E8E;
    --tertiary-color-shade-2:#eeeeee;
    --primary-btn-color:#0095F6;
    --primary-btn-disabled-color:#B2DFFC;
    --primary-text-color:#262626;
    --success-color:green;
    --danger-color:red;
    --primary-link:#053A6D;
}

body{
    box-sizing:border-box;
    background:var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}

.valid__feedback{
    color:var(--success-color);
}

.invalid__feedback,.valid__feedback{
    box-sizing:border-box;
    padding:1rem;
    animation:toast 0.3s 1 linear;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    font-size:0.9rem;
    font-weight:500;
}

.invalid__feedback{
    color:var(--secondary-color);
    background:var(--danger-color);
}

.valid__feedback{
    color:var(--secondary-color);
    background:var(--primary-btn-color);
}

@media(max-width:550px){
.invalid__feedback,.valid__feedback{
    bottom:2.5rem;
    padding:0.8rem;
}
}

@keyframes toast{
    from{
        transform:translateY(100%);
    }
    to{
        transform:translateX(0);
    }
}

.primary__btn{
    background:var(--primary-btn-color);
    padding:0.3rem 0.5rem;
    border-radius:3px;
    color:var(--primary-color);
    border:none;
    font-weight:600;
    cursor:pointer;
    margin-right:0.3rem;
}

.primary__btn:hover,.secondary__btn:hover{
   opacity:0.8;
}

.secondary__btn{
    background:transparent;
    padding:0.3rem 0.5rem;
    border-radius:3px;
    color:var(--primary-text-color);
    border:1px solid var(--tertiary-color);
    font-weight:600;
    cursor:pointer;
}

/* spinner */
.spinner__container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
/* spinner */

/* popup */
.popup__container{
    background:var(--primary-color);
    position:fixed;
    top:30%;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    flex-direction:column;
    text-align:center;
    border-radius:15px;
    z-index:2;
    width:300px;
}

.popup__heading{
     color:var(--primary-text-color);
     padding:2rem;
}

.popup__options{
    background:var(--primary-color);
    border:none;
    border-top:1px solid var(--tertiary-color);
    border-bottom:1px solid var(--tertiary-color);
    padding:1rem 4rem;
    cursor:pointer;
}
/* popup */