@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding:0;
    margin:0;
}

:root{
    --primary-color:#FAFAFA;
    --secondary-color:#FFFFFF;
    --tertiary-color:#DBDBDB;
    --tertiary-color-shade-1:#8E8E8E;
    --tertiary-color-shade-2:#eeeeee;
    --primary-btn-color:#0095F6;
    --primary-btn-disabled-color:#B2DFFC;
    --primary-text-color:#262626;
    --success-color:green;
    --danger-color:red;
    --primary-link:#053A6D;
}

body{
    box-sizing:border-box;
    background:var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}