.activity{
   display:flex;
   flex-direction:column;
   box-sizing:border-box;
   padding:0.5rem;
}

.activity .activity__heading{
    color:var(--primary-text-color);
    margin:0.2rem 0;
}

.activity .activity__content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0.3rem 0;
    font-size:0.8rem;
    text-decoration:none;
}

.activity .userpic__and__activity{
    display:flex;
    align-items:center;
    text-decoration:none;
}

.activity .userpic{
    width:40px;
    height:40px;
    border-radius:50%;
}

.activity .description{
   margin-left:0.5rem;
   color:var(--primary-text-color);
   font-weight:500;
}

@media(min-width:480px){
    .activity{
        width:480px;
        min-height:90vh;
        margin:auto;
        border-left:1px solid var(--tertiary-color);
        border-right:1px solid var(--tertiary-color);
    }
}