.profile__container{
    display:flex;
    flex-direction:column;
    width:90%;
    margin:auto;
    padding:2rem 0;
    font-weight:500;
}

/* profile section */

.profile__container .profile__section{
    display:grid;
    grid-template-columns:250px 300px;
    align-items:center;
    justify-content:center;
    padding:0 2rem;
}

.profile__container .profile__avatar{
    width:150px;
    height:150px;
    object-fit:cover;
    border-radius:50%;
}

.profile__container .profile__section .username__mobile{
    font-size:1rem;
    font-weight:600;
    margin:0.2rem 0;
    display:none;
    color:var(--primary-text-color);
}

.profile__container .profile__details{
    display:flex;
    flex-direction:column;
}

.profile__details .section__1{
    display:flex;
    justify-content:space-between;
}

.profile__details .section__1 .username__desktop{
    font-size:1.3rem;
    font-weight:600;
    color:var(--primary-text-color);
}

.profile__details .section__1 .edit__profile__btn{
    padding:0.3rem 0.5rem;
    background:var(--secondary-color);
    border:1px solid var(--tertiary-color);
    font-weight:600;
    color:var(--primary-text-color);
    border-radius:3px;
    cursor:pointer;
}

.profile__details .section__1 .edit__profile__btn:hover{
    background:var(--primary-color);
}

.profile__details .section__1 .edit__profile__btn:active{
    background:var(--tertiary-color-shade-2);
}

.profile__details .section__2{
    display:flex;
    justify-content:space-between;
    margin:1rem 0;
    font-size:0.9rem;
}

.profile__details .nav__link{
    text-decoration:none;
    color:var(--primary-text-color);
}

.profile__details .section__2 span{
    font-weight:600;
}

.profile__details .section__3{
    display:flex;
    flex-direction:column;
}

.profile__details .section__3 .fullname{
    font-weight:500;
}

.profile__details .section__3 .bio{
    font-size:0.9rem;
    line-height:1.5rem;
}

.profile__details .section__3 .website__link{
    color:var(--primary-link);
    font-weight:600;
    text-decoration:none;
    font-size:0.9rem;
}

/* Posts section */

.profile__container .posts__section{
    border-top:1px solid var(--tertiary-color);
    margin-top:3rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:0 2rem;
}

.profile__container .profile__section .post__file{
    object-fit:cover;
}

.profile__container .posts__section .section__1{
     display:flex;
     justify-content:space-around;
     align-items:center;
}

.profile__container .posts__section .post__btn,.profile__container .posts__section .saved__btn{
    background:none;
    border:none;
    display:flex;
    align-items:center;
    letter-spacing:1px;
    font-size:0.7rem;
    padding:1rem 0;
    font-weight:500;
    color:var(--primary-text-color);
    cursor:pointer;
}

.profile__container .posts__section .post__btn svg,.profile__container .posts__section .saved__btn svg{
    margin-right:0.2rem;
}

.profile__container .posts__section .active{
    font-weight:600;
}

.profile__container .posts__section .section__2{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:1.5rem;
}

@media(max-width:1000px){
.profile__container{
    width:100%;
}
.profile__container .posts__section .section__2{
    grid-template-columns:1fr 1fr 1fr;
}
}

@media(max-width:730px){
.profile__container .posts__section .section__2{
     gap:3px;
}
.profile__container .posts__section{
     padding:0;
}

.profile__container{
    padding:1rem 0;
}

}

@media(max-width:630px){
  .profile__container .profile__section{
    grid-template-columns:auto auto;
    padding:0.5rem;
 }

 .profile__container .profile__section .section__1,
 .profile__container .profile__section .section__2,
 .profile__container .profile__section .section__3{
     padding:0 2rem;
 }
 
 .profile__container .profile__avatar{
    width:100px;
    height:100px;
 }

}

@media(max-width:480px){
     .profile__container .profile__details{
         flex-direction:column-reverse;
     }

    .profile__container .profile__section .section__1,
    .profile__container .profile__section .section__2,
    .profile__container .profile__section .section__3{
        padding:0 0.5rem;
    }

    .profile__container .profile__section{
        grid-template-columns:1fr;
    }

    .profile__container .profile__section .fullname{
        margin-top:0.5rem;
    }

    .profile__container .posts__section{
        margin-top:1rem;
        margin-bottom:2.5rem;
    }

    .profile__container .profile__section .section__1{
        flex-direction:column;
    }

    .profile__container .profile__section .username__desktop{
        display:none;
    }

    .profile__container .profile__section .username__mobile{
        display:block;
        text-align:center;
    }

    .profile__container .profile__section .edit__profile__btn{
        margin-top:0.5rem;
        font-size:0.7rem;
    }

    .profile__container .profile__avatar{
        display:block;
        margin: auto;
     }

     .profile__container .posts__section .section__2{
        grid-template-columns:1fr 1fr;
    }
}